<!DOCTYPE html>
<html>
<head>
	<title>Slider</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/caruselmodel/style.css">
</head>
<body>
   <div class="modal"></div>
	<div id="content-wrapper">
		<div class="column">
			<img id=featured src="../Img/Rectangle 1636 (11).png">

			<span id="slide-wrapper" >
				<span id="slideLeft" class="arrow">&#139;</span>

				<div id="slider">
					<img class="thumbnail active" src="../Img/Rectangle 1636 (12).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (11).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (12).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (13).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (14).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (15).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (11).png">
				</div>

				<span id="slideRight" class="arrow">&#155;</span>
			</div>
		</div>

		<div class="column">
			<div class="modal_carusel2">
				<ul>
					<li><h2>NEO CLASSIC</h2></li>
					<li>
						<p>Lorem ipsum is a name for a common type of placeholder text. Also known as filler or dummy text, this is simply copy that serves to fill a space without actually saying anything meaningful. </p>
						<p>
							It's essentially nonsense text, but gives an idea of what real words will look like in the final product.
						</p>
					</li>
					<li>
						<h3>2.560.000 so‘m <span>Izoh: Belgilangan narx m2 uchun </span></h3>
					</li>
					<li>
						<button>Savatga qo‘shish</button>
					</li>
				</ul>
			</div>

	</div>

	


	<script type="text/javascript">
		let thumbnails = document.getElementsByClassName('thumbnail')

		let activeImages = document.getElementsByClassName('active')

		for (var i=0; i < thumbnails.length; i++){

			thumbnails[i].addEventListener('mouseover', function(){
				console.log(activeImages)
				
				if (activeImages.length > 0){
					activeImages[0].classList.remove('active')
				}
				

				this.classList.add('active')
				document.getElementById('featured').src = this.src
			})
		}


		let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


	</script>
</body>
</html>

<!-- Uchqun Turdiev 2021 09 05 -->