@media (max-width:1620px){

    .container{
        position:relative;
        width: 90%;
        padding: 20px;
    }
    .link{
        width: 90%;
        margin: auto;
        padding: 20px;
        
    }
}


@media (max-width:1420px){

    .container{
        position:relative;
        width: 90%;
        padding: 20px;
    }
    .link{
        width: 90%;
        margin: auto;
        padding: 20px;
        
    }
}


@media (max-width:1220px){

    nav ul{
        margin-left: 30px;
    }

    .container{
        position:relative;
        width: 90%;
        padding: 20px;
    }
    .container .card .imgBx{
        height: 220px;
    }
    .link{
        width: 90%;
        margin: auto;
        padding-top: 20px;
        
    }

    form .kids_img{
        display: none;
    }
}

@media (max-width:1100px){
    nav ul li{
        margin-right: 20px;
    }
    
    .forms{
        justify-content: center;
        padding: 0;
    }
    .form_item{
        margin-left: 50%;
        transform: translate(-50%);
    }
    .foot_center{
        display: none;
    }

    .btn{
        display: inline-block;
        width: 203px;
        margin-left: 30%;
        margin-top: 10%;
    }
    .container .card .imgBx{
        height: 170px;
    }
    
}

@media (max-width:919.5px){

    nav ul{
        margin-left: 0px;
    }
   
    .corzina input{
        display: none;
    }

    nav ul li{
        margin-right: 25px;
    }
    nav ul input{
       display: none;
    }
    ul .fa-search{
        margin-left: 0px;
        margin-right: 15px;
    }

    .container{
        width: 98%;
    }
    .container .card{
        width: 45%;
    }
    .container .card .imgBx{
        height: 200px;
    }
    form .kids_img{
        display: none;
    }
    .btn{
      display: inline-block;
      width: 203px;
      margin-left: 15%;
      margin-top: 10%;
  }
  .forms{
    justify-content: center;
  }
  .form_item{
    margin-left: 50%;
    width: 100%;
  }
  .form_item input{
    width: 95%;
    height: 60px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    background: #F8F8F8;
    overflow: hidden;
    padding-left: 20px;
    margin-right: 15px;
}

  footer .container{
    width: 90%;
    margin: auto;
  }
  .foot_bottom h3{
    margin-left: 10%;
  }
  .foot_text h1{
    font-size: 25px;
  }
    
}

@media (max-width: 768px) {

    .navigation .bars{
        display: block;
        cursor: pointer;
    }
    
    nav ul{
        display: none;
        position: absolute;
        top: 140px;
        left: 0px;
        background-color:#fff;
        padding-left: 50px;
        width: 100%;
        height: 169px;
        z-index: 999;
    }
    nav ul li{
        margin-top: 10px;
        font-size: 30px;
    }
    nav ul ul{
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        font-size: 50px;
    }
    nav ul ul h4{
        margin-left: 30px;
    }
    nav ul ul h4:nth-child(1){
        margin-left: 0px;
    }
    nav ul ul a{
        color: #222;
    }
    .active{
        display: block;
    }
    
    nav .corzina .fa-search{
        position: relative;
    }
    nav .corzina input{
        display: none;
        position: absolute;
        top:55px;
        right: 40px ;
        z-index:1024;
    }

    .footer_item{
        top: 120px;
    }
    .footer_item h1{
        font-size: 22px;
    }
    .foot_bottom{
        margin-top: -10px;
    }
    .forms{
        display: block;
    }
    .form_item{
        margin-left: 50%;
        width: 80%;
    }
    .form_item input{
      width: 70%;
  }
}

@media (max-width: 600px) {

    nav ul{
        height: 209px;
        z-index: 999;
    }
    
    .bars
    {
        padding-left: 10px;
    }
    nav .italiano
    {
        padding-left: 0;
        margin-right: 40px;
    }
    .hed_lang
    {
        padding-right: 10px;
    }
    .corzina
    {
        margin-right: -60px;
    }
    .head_firs{
        padding: 0 30px;
    }
    .head_firs a {
        font-size: 15px;
    }
    h1{
        font-size: 22px;
    }
    #internet-item{
        margin-top: -20px;
    }
    .head_firs{
        padding: 0 30px;
    }
    
    .container .card .imgBx{
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .container{
        position:relative;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap:wrap;
        padding: 20px;
    }
    .container .card .imgBx{
        height: 150px;
    }
    .container .card .content{
        padding: 10px;
    }
    .container .card .content h3{
        font-size: 17px;
    }

    .container .card .content h2{
        padding-top: 10px;
        font-size: 16px;
    }
    .foot_right{
        display: none;
    }

    .foot_text{
        padding-top: 40px;
    }
    .foot_bottom{
        margin-top: -10px;
    }
    
    .foot_bottom b{
        display: none;
    }
    .forms{
        display: block;
    }
    .form_item{
    margin-left: 50%;
    width: 95%;
    }
.form_item input{
  width: 90%;
   }
   .modal_bottom{
    width: 100%;
    height: 880px;
    padding: 0 18px;
    right: 0%;
    left: 0;
}
}

@media (max-width: 450px) {

    .hed_nambe a{
        font-size: 16px;
        margin-left: 5px;
    }
    nav ul ul h4{
        margin-left: 20px;
    }
    .raiting .fa-star{
        font-size: 12px;
    }
    .action li{
        width: 30px;
        height: 30px;
    }
    .action{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .container .card .imgBx{
        height: 110px;
        padding: 10px;
    }
    .form_item input{
        width: 100%;
        height: 60px;
        overflow: hidden;
        padding-left: 00px;
        margin-right: 0px;
    }
    .form_item button{
        margin-left: 20%;
    }
    
    .foot_bottom h3{
        margin-left: 2%;
        font-size: 12px;
    }
    footer{
        width: 100%;
        position: relative;
    }
    .foot_img {
        width: 100%;
    }
    .footer_item{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 999;
    }
    .form_item{
        margin-left: 50%;
        width: 90%;
    }
    .foot_text{
        width: 100%;
    }
    .foot_text h4{
        width: 80%;
    }
    
    

}