<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Carusel</title>
    <link rel="stylesheet" href="./style5.css">
</head>
<body>
    	<!-- MODALL CA -->

	    <div id="content-wrapper modalca">
		    <div class="column">
			<img id=featured src="../Img/Rectangle 1636 (11).png">

			<span id="slide-wrapper" >
				<span id="slideLeft" class="arrow">&#139;</span>

				<div id="slider">
					<img class="thumbnail active" src="../Img/Rectangle 1636 (12).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (11).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (12).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (13).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (14).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (15).png">
					<img class="thumbnail" src="../Img/Rectangle 1636 (11).png">
				</div>

				<span id="slideRight" class="arrow">&#155;</span>
			</div>
		</div> 

        <script>
        let thumbnails = document.getElementsByClassName('thumbnail')

    let activeImages = document.getElementsByClassName('active')
    
    for (var i=0; i < thumbnails.length; i++){

        thumbnails[i].addEventListener('mouseover', function(){
            console.log(activeImages);
        
        if (activeImages.length > 0){
            activeImages[0].classList.remove('active');
        }
        

        this.classList.add('active')
            document.getElementById('featured').src = this.src
        });
    }


            let buttonRight = document.getElementById('slideRight');
                let buttonLeft = document.getElementById('slideLeft');
            
            buttonLeft.addEventListener('click', function(){
                document.getElementById('slider').scrollLeft -= 180
            })
            
            buttonRight.addEventListener('click', function(){
                document.getElementById('slider').scrollLeft += 180
        });
    </script>
</body>
</html>

<!-- Uchqun Turdiev 2021 09 05 -->